.grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 5px;
}

h2 {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f15757;
    color: #fff;
    text-shadow: 2px 1px 2px rgb(107, 1, 1);
    border-radius: 6px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
