.img-container {
    width: 100%;
    min-width: 320px;
}

.card {
    min-width: 320px;
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    border-radius: 6px;
    background-color: #20232a;
    overflow: hidden;
}

.card p {
    color: #fdfdfd;
    padding: 10px;
    font-weight: 500;
}

.card img {
    width: 100%;
    height: 100%;
}
